header {
    background-color: rgb(40, 17, 1);
    color: #fff;
    padding: 10px 20px;
}
.App .container{
    display: flex;
    justify-content: center;
}
.App .container form{
    margin-top: 20px;
    width: 50%;
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: 4px 5px 3px #ddd;
    padding: 50px;
}
.App form label {
    font-weight: 700;
    font-size: 1rem;
}
.App form input {
    padding: 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
    margin: 15px 0;
}

.App form button {
    border: none;
    padding: 15px;
    width: 100%;
    background-color: rgb(40, 17, 1);
    border-radius: 10px;
    color: #fff;
    font-size: 1.1rem;
}

.App .output {
    /* margin-top: 20px; */
    margin: 20px auto;
    width: 57%;
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: 4px 5px 3px #ddd;
    padding: 10px;
}
.App .output ul {
    list-style: none;

}
.App .output ul li {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.App .output ul li label {
    font-size: 1.4rem;
    font-weight: 500;
}
.App .output ul li button {
    background-color: rgb(123, 2, 2);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.App .output ul li button img {
    width: 20px;
    height: 20px;
}